.component-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  background: #f08143;
  box-shadow: 0px 8px 15px rgba(240, 129, 67, 0.4);
}
