.active-object{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px #221308 solid;
}
.object_list{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 46px;
    
}