#modal {
  background: #f08143;
  border-radius: 10px;
  padding: 24px 30px;
  color: #ffffff;
  position: fixed;
  top: 120px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 3;
  max-width: 500px;
  width: calc(100% - 30px);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  opacity: 0;
  visibility: hidden;
  transform: translate(-50%, -100%);
  transition: all 0.2s;
  &.active {
    transform: translate(-50%, 0%);
    opacity: 1;
    visibility: visible;
  }
  span {
    width: 46px;
    height: 46px;
    display: block;
    flex: 1 0 auto;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 18px;
      height: 18px;
      background: url(./../../assets/icons/tick-square.svg) center / contain no-repeat;
    }
  }
  p {
    font-weight: 600;
    font-size: 20px;
    line-height: 105.2%;
  }
}
@media screen and (max-width: 450px) {
  #modal {
    padding: 20px;
    gap: 8px;
    top: 20px;
    p {
      font-size: 14px;
      line-height: 105.2%;
    }
    span {
      width: 31px;
      height: 31px;
      &::before{
        width: 13px;
        height: 13px;
      }
    }
  }
}
