@media screen and (max-width: 1250px) {
  .registr.registr-2 {
    .map_component {
      display: block;
      max-width: 688px;
    }
    .raw {
      justify-content: center;
    }
    .name__location {
      display: block;
    }
    .regist-form {
      display: none;
    }
  }
}

@media screen and (max-width: 950px) {
  .registr.registr-2 {
    .map_component {
      width: 100%;
      max-width: 688px;
      height: 734px;
    }
    .bottom-form {
      margin-top: 40px;
    }
  }
}

@media screen and (max-width: 720px) {
  .registr.registr-2 {
    .map_component {
      height: 600px;
    }
  }
}

@media screen and (max-width: 420px) {
  .registr.registr-2 {
    .bottom-form {
      flex-direction: column;
      gap: 16px;
      align-items: flex-start;
    }
  }
}

@media screen and (max-width: 360px) {
  .registr.registr-2 {
    .map_component {
      height: 382px;
    }
  }
}
